.game {
    /*fill flex parent*/
    flex: 1;
    /*center childs...*/
    display: flex;
    /*...vertically*/
    align-items: center;
    /*...horizontally*/
    justify-content: center;
    position: relative;
    margin: 20px;
    padding: 40px;
    border-radius: 10%;
    background: linear-gradient(var(--page_color), var(--page_color)) padding-box,
        linear-gradient(45deg, blue, red) border-box;
    border: 5px solid transparent;
}