<link rel="stylesheet" type="text/css" href="/css/formulaire.css?v=1.0">



<div>
    <form action="setCookies()">
        <div>
            <div class="formJoueur">
                <input type="text" id="pseudo" name="pseudo" placeholder="Pseudo" maxlength="20">
                <input type="image" src="/images/croix_rouge.png" alt="Supprimer">
            </div>
            <input type="image" src="/images/plus_rose.png" alt="Ajouter">
        </div>  
    </form>
</div>